name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies 
      run: sudo apt-get install pkg-config libx11-dev libasound2-dev libudev-dev 
    - name: Install rust nightly
      run: rustup install nightly && rustup default nightly      
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
